$colors : (
    primario : rgb(186, 186, 233),
    secondario : rgb(60, 107, 209),
    accento : rgb(223, 167, 64),
    pericolo : rgb(223, 29, 87),
    relax:  rgb(29, 223, 165),
    dark-secondario : rgb(11, 13, 158),
    light-secondario : rgb(109, 183, 233),
);

$lati: left, top, bottom, right;

$margini :0, 1, 2, 3, 5, 8, 10, 15, 20;

$paddings:0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;