body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25rem
}

.titolo{
    font-weight: 700;
    line-height: 2rem;
}

.uppercase{
    text-transform: uppercase;
}

.scritta-bianca{
    color: white;
}

.mobile-menu{
    display: visible;
}

.desktop-menu{
    display: none;
}

#menu{
    background-color: rgb(32, 82, 110);
    padding: 6px 0;
    font-size: 0.8rem;
    color: #fff;
    position: relative;
}

input[type="checkbox"]{
    display: none;
}

nav{
    position: relative;
}

nav.mobile-menu > ul{
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    position: absolute;
}

input:checked + nav ul{
    height: 100px;
}

.opzioni{
    background-color: rgb(32, 82, 110);
    display: block;
    text-decoration: none;
    font-size: 0.7rem;
}

.scritta-menu{
    padding-left: 10px;
}

#titolo > label:hover{
    color:#ffffffc5;
} 

.sfondo-ceruleo{
    background-color:rgb(104, 218, 190);
    color: #fff;
    text-align: center;
}

#intro{
    padding: 70px 0px;
    min-height: 150px;
}

#intro > img{
    border-radius: 50%;
    margin:30px 0;
}

h1{
    font-size: 2rem;
    margin: 0 13px 10px 13px;
}

#sottotitolo{
    font-size: 0.9rem;
}

.container{
    padding: 50px 20px;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

.testo-grigio{
    color: rgb(32, 82, 110);
}

#portfolio{
    text-align: center;
    border-bottom: 2px solid rgb(32, 82, 110);
    padding-bottom: 6px;
    margin:10px auto;
}
.work{
    display: inline-block;
    width: calc(100%/1 - 0.2rem);/*?????*/
    border-radius: 7px;
    background-color:rgb(121, 34, 92);
    padding:20px;
    box-sizing: border-box;
    margin: 10px 0;
    max-width: 300px;
    text-align: center;
    margin:13px 10px;
}

.work:nth-of-type(2){
    background-color: rgb(46, 184, 238);
}

.work:nth-of-type(3){
    background-color: rgb(14, 16, 17);
}

.work:nth-of-type(4){
    background-color: rgb(61, 128, 216);
}

.work:nth-of-type(5){
    background-color: rgb(46, 65, 238);
}

.work:nth-of-type(6){
    background-color: rgb(182, 175, 170);
}
.work:hover{
    background-color:rgb(104, 218, 190);
}

.prev{
    border-radius: 50%;
}

.work:hover > .prev{
    opacity: 0.2;
}

#about{
    padding: 3%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align:center;
    margin: 0 auto;
}

.info{
    text-align: left;
    font-size: 0.9rem;
    margin:10px 0;
    margin:13px 10px;
    display: inline-block;
}

#download{
    margin-top:15px;
    padding: 13px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;

}

#download:hover{
    background-color: white;
    color: rgb(104, 218, 190);
    border: 1px solid rgb(104, 218, 190);
}

#scrivimi > h2{
    text-align: center;
    margin-bottom: 20px;
}

#scrivimi{
    padding: 60px 10px;
    max-width: 600px;

}

.dati{
    text-align: left;
}

input{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(216, 218, 231);
    margin-bottom: 30px;
}

textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(216, 218, 231);
    margin-bottom: 30px;
}

label{
    color: rgb(147, 148, 156);
}

#tuomessaggio{
    min-height:80px;
}

#invio{
    margin-top:5px;
    padding: 15px 20px;
    background-color: rgb(104, 218, 190);
    color: white;
    border: none;
    border-radius: 5px;
}

#invio:hover{
    background-color: white;
    color: rgb(104, 218, 190);
    border: 1px solid rgb(104, 218, 190);
}

#footer1{
    background-color: rgb(36, 73, 107);
    padding:25px 5% 60px 5%;
    text-align: center;
    font-size: 0.9rem;
}

.dim-footer{
    max-width: 250px;
    height: 120px;
    margin: 0 auto;
}

#footer2{
    background-color: rgb(13, 32, 51);
    padding:15px 0;
    text-align: center;
    font-size:0.7rem;
}

h3{
    margin-bottom: 15px;
    margin-top:35px;
    font-size: 1.1rem;
}

.fa-solid{
    font-size: 36px;
    color:white;
    padding: 4px;
}

#linksito{
    color: rgb(104, 218, 190);
}


/*inizio breaking points*/


@media screen and (min-width: 481px){
    .work{
        display: inline-block;
        width: calc(100%/2 - 0.2rem);
        min-width: 300px;
    }
    .container{
        max-width: 768px;
        margin: 0 auto;
    }
    .info{
        display: inline-block;
        width: calc(100%/2 - 0.2rem);
        min-width: 350px;
        max-width: 400px;
    }
    #scrivimi{
        margin: 0 auto;
    } 
    #compila{
        display: inline-block;
        width: calc(100%/1 - 0.2rem);
    }


}


@media screen and (min-width: 769px){
    .work{
        width: calc(100%/3 - 0.2rem);
    }
    .container{
        max-width: 1279px;
    }
    #footer1 > div{
        display: inline-block;
        width: calc(100%/ 3 - 0.2rem);
    }
    #footer1{
        margin: 0 auto;
    }
    .mobile-menu{
        display: none;
    }
    .scritta-menu{
        display: inline-block;
        padding-left: 10%;
        margin-right:20%
    }
    .desktop-menu{
        display: inline-block;
        text-align: right;
        padding-right: 10%;
        position: absolute;
        right: 0;
    }
    .button-desktop{
        width: 90px;
        height:35x;
        background-color: rgb(32, 82, 110);
        border-radius: 8px;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
    }
    .button-desktop:hover{
        background-color:  rgb(104, 218, 190);
    }

    #menu{
        padding: 15px 0;
    }
}







/*@media screen and (min-width: 1280px){
    .work{
        width: calc(100%/3 - 0.2rem);

    }
}*/
